<div th:fragment="navbar">
  <style>
    body{
      background-color: #ffffff;
    }
  </style>
  <header class="d-flex justify-content-center py-3 shadow" style="background-color:#FAF9F6; border-radius:0 0 30px 30px">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">На главную</a>
      </li>
      <li class="nav-item"><a href="/goods" class="nav-link">Товары</a></li>
      <li class="nav-item">
        <a href="/good/add" class="nav-link">Добавить товар</a>
      </li>
      <li sec:authorize="isAnonymous()" class="nav-item">
        <a href="/login" class="nav-link">Войти</a>
      </li>

      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a sec:authentication="name" href="/profile" class="nav-link">Выйти</a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <form th:action="@{/logout}" method="post" id="logoutform">
          <u><button
            type="submit"
            
            class="nav-link fst-italic"
          >Выйти</button> </u>
        </form>
      </li>

      <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
        <a href="/adminpanel" class="btn btn-dark" aria-current="page">Админка</a>
      </li>

      
    </ul>
  </header>
</div>
