<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Ошибка</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="container">

<header th:insert="blocks/header :: navbar"/>

<!--<p th:text="'Hello, ' + ${title} + '!'" />-->
<span class="fs-2 mt-5">Ошибка </span> <span class="fs-1">404</span>
<p class="mb-5">Страница, на которую вы хотели зайти - не найдена, или не доступна для Вас. Если вы считаете, что так быть не должно - пожалуйста, <a href="sendmessage">напишите администратору</a>.</p>
<a href="/" class="mt-5 fs-3 btn btn-secondary">Вернуться на главную страницу</a>
</body>
</html>